

$bg-red : #cd1818;
$bg-black : #252525;
$bg-op-white : #edeeef;
$bg-gray : #939ca3;
$bg-white : #fff;

$text-white :  white;
$text-black : black;
$text-gray : #3d3d3d;


$pd-mobile : 15px;
$pd-desktop : 25px;