@import './../../../../assets/scss/import';

.contain{}
.name{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    & > div {
        border: 1px solid gray;
        width: 100%;
        text-align: center;
    }
}
.items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    & input {
        height: 56px;
    }

}

