@import "./../../../../../../assets/scss/import";

.contain {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  min-height: 440px;
  @include md-tablet-desktop {
    border-radius: 10px;
    border: 1px solid lightgray;
    box-shadow: rgb(17 17 26 / 10%) 0px 1px 0px,
      rgb(17 17 26 / 10%) 0px 8px 24px, rgb(17 17 26 / 10%) 0px 16px 48px;
  }
}
.heading {
  padding: 0 $pd-mobile;
  color: $bg-red;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.HotSale {
  padding: 0 10px;
  height: 100%;
}
.sliderItem {
  width: 300px;
}
.sliderWrap {
  margin: 0 10px;
  padding: 10px;
  background-color: $bg-white;
  color: $text-black;
  // width: 100%;
  height: 100%;
  border-radius: 10px;
}
.sliderImage {
  margin: auto auto 16px;
  background-size: 100% 100%;
  box-sizing: border-box;
  transition: all 0.3s;
  width: 100%;
  height: 234px;
  // background-color: yellow;
  & > img {
    border-radius: 6px;
  }
}
.sliderName {
  font-size: 17px;
  font-weight: 700;
  line-height: normal;
  color: #474c51;
  margin-bottom: 10px;
  position: relative;
  z-index: 10;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.sliderPrice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;

  & div:first-child {
    width: 100px;
    height: 22px;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 6px;
    background-color: #ef8573;
    text-align: center;
    overflow: hidden;
    color: #fff;
    border-radius: 15px;
    position: relative;
    z-index: 1;
    @include md-tablet-desktop {
      width: 130px;
      height: 28px;
      border-radius: 15px;
      font-size: 18px;
      line-height: 28px;
      font-weight: 500;
    }
    & .progress_bar {
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      background-color: #cb1c22;
      border-radius: 0px;
    }
  }
  & div:last-child {
    font-size: 11px;
    font-weight: 400;
    line-height: normal;
    color: #a7a7b1;
    text-decoration: line-through;
  }
}
.sliderPayment {
  width: 100%;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.31;
    color: #555;
    overflow: hidden;
    text-overflow: ellipsis;
}
